<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907756919405-o9rc1a3mrabvo79vt9dv02u38ve85oim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907756919405-o9rc1a3mrabvo79vt9dv02u38ve85oim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907756919405-b7lsqh5bq7peisi48m7hglq7jcotcl4d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBefHyPaVPrZytptXwnRo_-ocKR4pdJ0PA</string>
	<key>GCM_SENDER_ID</key>
	<string>907756919405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instantGram</string>
	<key>PROJECT_ID</key>
	<string>vandad-insta-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>vandad-insta-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907756919405:ios:0a3eabbe96b290df92fd64</string>
</dict>
</plist>